footer {
  position: absolute;
  width: 100%;
}
.footer-bar {
  background-color: #f2f2f2;
  padding: 10px;
}

.footer-text {
  font-size: 12px;
  margin: 0;
  text-align: center;
}
.footer-link {
  color: #222;
  text-decoration: none;
}
.footer-block{
  margin-bottom: 3em;
}