img {
  max-width: 100%;
  height: auto;
}

.studing {
  height: 100vh;
  border-top: 1px solid #ccc; 
  background-color: #f5f5f5;
}

.study_component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.study__content {
  max-width: 800px;
  padding: 2rem;
  text-align: center;
}

.study__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.study__title-line {
  border: 2px solid ;
  border-image: repeating-linear-gradient(to right, #ff0000, #ff0000 33.33%, #00ff00 33.33%, #00ff00 66.66%, #0000ff 66.66%, #0000ff) 1;
  width: 50%;
  margin: 1rem auto;
}

.study__education {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.study__education-item {
  width: 45%;
}

.study__education h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.study__education-date {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.study__education-description {
  margin-top: 1rem;
}

.study__education-description p {
  font-weight: bold;
}

.study__education-description ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.study__education-description li {
  margin-bottom: 0.5rem;
}
.tooltip {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 1.5rem;
  border-radius: 0.25rem;
}