<!DOCTYPE html>
<html lang="fr" >
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portfolio{% endblock %}</title>
        <link rel="icon" href="img/logo-noir.png">
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
