<!DOCTYPE html>
<html lang="fr" >
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}English Project!{% endblock %}</title>
        <link rel="icon" href="img/logo.png">
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
      <div {{ vue_component('Navbar') }}></div>
        {% block body %}
      
        {% endblock %}
     <div {{ vue_component('Footer') }}></div>
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
