{% extends 'base.html.twig' %}

{% block title %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block body %}
    <div {{ vue_component('Dashboard')}}></div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
