{% extends 'base.html.twig' %}

{% block title %}{{ 'legalNotice.title'|trans }}{% endblock %}

{% block body %}
    <div {{ vue_component('MentionsLegal')}}></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}